.flower__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.flower__item {
  position: relative;
  box-shadow: 5px 5px 50px 15px gray;
  border-radius: 10px;
  width: 400px;
  height: 550px;
  overflow-y: scroll;
}

.flower__img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.flower__button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: black;
  color: white;
  box-shadow: 2px 2px 20px 1px gray;
  padding: 5px;
  border-radius: 5px;
}
.flower__name{
  padding-left: 10px;
}

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
}
.modal {
  display: flex;
  padding: 40px;
  background-color: white;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.flower__button {
  cursor: pointer;
}
.flower__title {
  text-align: center;
}